.row {
  display: flex;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.column-one {
  width: 25%;
}

.column-two {
  width: 50%;
}

.column-three {
  width: 75%;
}

.column-four {
  width: 100%;
}

img {
  width: 100%;
}
