.container {
  width: 900px;
  margin: auto;
}

h1 {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 55px;
  margin-bottom: 22px;
}

.titleparagraph {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  width: 700px;
  margin: auto;
}

.column {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  align-items: flex-start;
}

h3 {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

button {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  color: rgb(211, 85, 78);
  border: 2px solid rgb(211, 85, 78);
  padding: 8px 35px;
}

.button {
  display: flex;
  justify-content: center;
}

.row-one {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 36px;
}

p {
  align-items: center;
  text-align: left;
}

.text {
  padding-top: 15px;
}
